body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #000;
}
.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: hsl(218, 23%, 23%);
    padding: 10px 0px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
#connect-btn {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
#connect-btn:hover {
    background-color: #3e8e41;
}
.container {
    margin-top: 150px; /* Adjust margin for navbar */
    background: #ffffff;
    padding: 30px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
h1 {
    color: orange;
}
button {
    padding: 10px 20px;
    background-color: #3182ce;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
}
button:hover {
    background-color: #2b6cb0;
}
#count {
    font-weight: bold;
    font-size: 24px;
    color: #2d3748;
}
